{% extends 'events/base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}
<div class="login-body">
<h1 class="LoginTitle">WELCOME TO THE EVENT MANAGEMENT SYSTEM</h1>
<div class="LoginBox">
<!--<h2 class="LoginText">Login</h2>-->
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<div class="login-form">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class = "button-68" type="submit">Submit</button>
        <p>Don't have an account? <a href="{% url 'register' %}" class = "register_a">Register here</a></p>
    </form>
</div></div>
</div>
{% endblock %}
