<!-- base.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'event_list' %}"><button class="button-681">Events</button></a></li>
                {% if user.is_authenticated %}
                    <li class="welcome-text">Welcome, {{ user.username }}</li>
                <li><a href="{% url 'event_create' %}"><button class="button-681">Create Event</button></a></li>
                    {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Logout</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}

                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Event Management System</p>
    </footer>
</body>
</html>
