{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="book-div">
<h1 class="book-head">Book Event : {{ event.name }}</h1>
    <div class="loc">Location&#128205; : {{event.location}} </div>
    <div class="loc">Date &#128467;: {{event.date}}</div>
    <div class="loc">Time &#128344;: {{event.time}}</div>
    <h2 class="book-h2">About Event :</h2>
    <div class="desc">{{event.description}}</div>
    <form method="POST" class="form-book">
    {% csrf_token %}
    {{ form.as_p }}
        <a href="{% url 'payment' event.id %}"><button class="logout-button1">Book Now</button></a>
</form>
</div>
