{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="create-div">
<h1 class="create-h1">Create Event</h1>
    <div class="create-d1">
<form method="POST">
    {% csrf_token %}
    <div class="create-name">Name :
        {{form.name}}
    </div>
    <div class="create-name"> Description :
        {{form.description}}
    </div>
    <div class="create-name"> Location&#128205;:
        {{form.location}}
    </div>
    <div class="create-name"> Date &#128467;:
        {{form.date}}
    </div>
    <div class="create-name"> Time &#128344;:
        {{form.time}}
    </div>
    <div class="create-name"> Price &#128181;:
        {{form.price}}
    </div>
    <div>
    <button type="submit" class="logout-button1">Create Event</button>
    </div>
</form>
</div>
</div>